:root {
  --main: #7a9d54;
  --second: #557a46;
  --third: #8c3333;
  --fourth: #f2ee9d;
  --fifth: #cbffa9;
  --sixth: #ffd6a5;
  --seventh: #ff9b9b;
  --nineth: #f5efe7;
  --tenth: #75c2f6;
  --eleventh: #1d5d9b;
  --twelveth: #f4d160;
  --thirdteenth: #fbeeac;
  --fourteenth: #f31559;
  --fifthteenth: #f31559;
  --sixteenth: #622424;
  --white: #ffffff;
  --black: #000000;
  --grey: #d9d9d9;
}
